@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

@layer base {
  html {
    font-size: 14px;
  }

  body {
    @apply bg-background-light font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  td {
    @apply border-b-2 border-b-slate-200;
  }

  tr:last-child > td {
    @apply border-0;
  }

  tr {
    @apply text-left;
  }

  tr,
  td,
  th {
    @apply p-4;
  }

  tr:first-child > th:first-child,
  tbody tr td:first-child {
    @apply pl-8;
  }

  tr:first-child > th:last-child,
  tbody tr td:last-child {
    @apply pr-8;
  }

  thead tr th {
    @apply py-6;
  }

  tbody > tr {
    @apply hover:bg-slate-100;
  }

  input:not([type="checkbox"]) {
    @apply w-full p-2 px-4 rounded-md border-2 border-slate-200;
  }
}

@layer components {
  .modal {
    @apply bg-white p-8 rounded-md shadow-md flex flex-col min-h-fit max-h-full gap-y-8 my-16 w-[80%] mx-auto;
  }

  .modal-background {
    @apply w-screen h-screen backdrop-blur-sm flex justify-center items-center py-16;
  }
}
